.createNote--container {
  border-color: 1px solid #e0e0e0;
  box-sizing: border-box;
  background-color: #ffffff;
  padding: 2rem;
}

.note__input {
  display: block;
  outline: none;
  border: none;
  padding: 2rem;
  width: 100%;
  font-size: 1rem;
}

.note__text {
  display: block;
  outline: none;
  border: none;
  border-bottom: none;
  padding: 2rem;
  width: 100%;
  font-size: 1rem;
  font-family: 'Arial';
  resize: none;
}
