.notes {
  width: 100%;
  padding: 1rem;
}

.notes__create--item {
  width: 576px;
  margin: 0 auto;
}

.notes__container--items {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
